$bg-color: #141e2b;
$secondary-color: #222f3f;
$font-color: #fcac0a;
$input-color: #79612a !important;
$font-main: "Inter", sans-serif;

body {
  background-color: $bg-color;
  font-family: $font-main;
}

.regforms {
  input,
  button {
    background-color: $input-color;
    border: none !important;
    box-shadow: black !important;
  }
}

.loginBtn {
  background-color: $input-color;
  border: none !important;
  box-shadow: black !important;
}

.loginforms {
  input,
  button {
    background-color: $input-color;
    border: none !important;
    box-shadow: black !important;
  }
}

.loginforms button {
    color: $font-color
}

.loginforms button:hover {
  background-color: $font-color !important;
  color: $bg-color !important;
}
.loginforms input:not(:placeholder-shown) {
  background-color: $font-color !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: $bg-color!important;
  color: $font-color!important;
}

.navBar {
  background-color: $secondary-color;
}

.regforms button {
  color: $font-color !important;
}

.regforms button:hover {
  background-color: $font-color !important;
  color: $bg-color !important;
}

.regforms input:not(:placeholder-shown) {
  background-color: $font-color !important;
}

.mutedcolor {
  color: $font-color !important;
}

.navBar * {
  color: $font-color;
}

.cardRegistration {
  background-color: $secondary-color;
  align-items: center;
  color: $font-color;
}

.cardRegistration img {
  width: 10%;
}

.cardMain {
  background-color: $secondary-color;
  align-items: center;
  color: $font-color;
  img {
    width: 75%;
  }
}

.drop div {
  background-color: $font-color;
  a {
    color: $bg-color !important;
  }
}

// Общие стили для футера

.container-fluid {
  padding-top: 20px; // Добавьте отступ сверху
}

// Стили для нового контента
.footer-new__top-column {
  text-align: center;
  margin-top: 20px; // Отступ сверху
}

.top-column__item-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.top-column__title {
  margin-right: 10px;
}

.top-column__item-list {
  list-style-type: none;
  padding: 0;
}

.top-column__item {
  margin-bottom: 10px;
}

.top-column__link {
  color: #fcac0a; // Замените цветом вашего шрифта
  text-decoration: none;
  font-size: 16px;
}

.top-column__link:hover {
  text-decoration: underline;
}

// Стили для полоски и текста внизу
.footer-line {
  margin-top: 20px; // Отступ сверху
  border-top: 1px solid #fcac0a; // Замените цветом вашего шрифта
}

.footr {
  margin-top: 50px;
  position: relative;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Минимальная высота равная высоте видимого экрана
}

.closed {
    display: none!important;
}

// Стили для текста внизу

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
